@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/tt-wellingtons-trl");
@import url("https://fonts.cdnfonts.com/css/garet");

* {
  margin: 0;
  padding: 0;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .title {
    @apply md:text-title-section text-title-section-mobile;
  }

  .big-text {
    @apply text-hero-text-mobile md:text-hero-text;
  }

  .paragraph {
    @apply text-text-section-mobile md:text-text-section;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-y-t {
    @apply sm:pt-24 pt-12;
  }
}
